@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap");

body {
  display: flex;
  justify-content: center;
  background-color: hsl(220, 69%, 92%);
  font-family: "Outfit";
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 320px;
  background-color: white;
  padding: 10px;
  align-items: center;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 20px 5px rgba(165, 165, 165, 0.2);
}
